<!--Location DIV -->
<div id="locationDIV">
    <a class="btn btn-success toright" href="#" id="addLocation">
        <i class="fa fa-plus" aria-hidden="true"></i>
        &nbsp;Add Location to Catalog
    </a>
    <a class="btn btn-success toright" href="#">
        <i class="fa fa-times" aria-hidden="true"></i>
        &nbsp; Remove Selected
    </a>
    <br /><br />
    <div class="box box-primary" id="box_orders">
        <div class="box-header with-border">
            <h3 class="box-title">Available Locations</h3>
        </div>
    </div>
    <form method="post" action="/location_form" style="margin:0px" id="location_form" name="location_form">
        <table border="0" cellpadding="0" cellspacing="1" class="table_admin table table-striped table-hover" style="width:100%">
            <input type='hidden' id='location_ID' name="location_ID" value='' />
            <tr>
                <th width="50%" class="hidden-phone hidden-tablet">City</th>
                <th width="50%" class="hidden-phone hidden-tablet">Company/Insititute/Location</th>
                <th></th>
                <th></th>
            </tr>
            {{#each locationList}}
                <tr valign="top" >
                    <td>{{city}}</td>
                    <td class="hidden-phone hidden-tablet">{{company}}</td>
                    <td><div class="link_edit"><a href="#" onclick="">Edit</a></div></td>
                    <td><div class="link_delete"><a href="#" onclick="delete_location('{{_id}}')">Delete</a></div></td>
                </tr>
            {{/each}}
        </table>
    </form>
</div>

<!-- New Location Form -->
<div id="locationModal" class="modal">
    <div class="location-modal-content">
        <span class="close">&times;</span>
        <h1>New Location</h1>
        <form method="post" action="/newLocation" class="newLocation">
            <fieldset>
                <label for="city">City : </label>
                <input type="text" name="cityTxtBox" id="cityTxtBox" require>
                <label for="location">Location : </label>
                <input type="text" name="locationTxtBox" id="locationTxtBox" require>
                <input type="submit" class="location-modal-content-submit bg-green newLocation">
            </fieldset>
        </form>
    </div>
</div>

<script>
    function delete_location(location_id) {
        document.getElementById('location_ID').value = location_id;
        document.getElementById("location_form").submit();
    }
</script>