<!--Item DIV -->
<div id="ItemOrderDiv">
  <div class="box box-primary" id="box_orders">
    <div class="box-header with-border">
      <h3 class="box-title"><i class="fa fa-history" aria-hidden="true"></i> ORDER HISTORY<br /></h3>
    </div>
  </div>
  <center>
    <div class="row">
      <div class="table-responsive">
        <table id="itemWiseOrdered">
          <tr class="header">
            <th>Item</th>
            <th>Ordered Item</th>
            <th>Location</th>
          </tr>
          {{#each itemList}}
          <tr>
            <td>{{name}}</td>
            <td>{{#getOrderedQnty avaible_qty initial_qty}}{{/getOrderedQnty}}</td>
            <td>Location</td>
          </tr>
          {{/each}}
        </table>
      </div>
    </div>
  </center>
</div>
<!--//Item Div History-->
