<div class="container">    
  {{#each itemList}}
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-success">
        <div class="panel-heading">{{name}}</div>
        <div class="panel-body">
          <img src="{{item_image_path}}" class="img-responsive" style="width:100%" alt="Image">
        </div>
        <div class="panel-footer">Rs : {{price}}</div>
      </div>
    </div> 
  </div>
  <br>
  {{/each}}
</div>
