<!-- <div id="verifybox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="panel panel-info" >
        <div class="panel-heading">
            <div class="panel-title">Sign In</div>
        </div>
    </div>     
    <div style="padding-top:30px" class="panel-body" >
        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12">
        </div>            
        <form id="verifyform" class="form-horizontal" role="form" method="post">
            <div style="margin-bottom: 25px" class="input-group">
                <input type="text" class="form-control" name="token" placeholder="Enter OTP">                                        
            </div>
            <div style="margin-top:10px" class="form-group">

            </div>    
            <input type="hidden" id="userId" name="userId" value="{{ Current_User_Id }}">
        </form>     
    </div>                     
 </div>

-->
 <div class="container be-detail-container">
     <div class="row">
         <div class="col-sm-6 col-sm-offset-3">
             <br>
             <img src="https://cdn2.iconfinder.com/data/icons/luchesa-part-3/128/SMS-512.png" class="img-responsive" style="width:200px; height:200px;margin:0 auto;"><br>

             <h1 class="text-center">Verify your mobile number</h1><br>
             <p class="lead" style="align:center"></p><p> Thanks for giving your details. An OTP has been sent to your Mobile Number. Please enter the 4 digit OTP below for Successful Registration</p>  <p></p>
             <br>

             <form method="post" id="verifyform">
                 <div class="row">
                     <div class="form-group col-sm-8">
                         <span style="color:red;"></span>
                         <input type="text" class="form-control" name="token" placeholder="Enter your OTP number" required="">
                     </div>
                     <button type="submit" class="btn btn-primary  pull-right col-sm-3">Verify</button>
                 </div>
                 <input type="hidden" id="userId" name="userId" value="{{ Current_User_Id }}">
             </form>
             <br><br>
         </div>
     </div>
 </div>