<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

<br />
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">{{user.lastname}} {{user.firstname}}</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3 col-lg-3 " align="center">
                        <img alt="User Pic" src="\images\user_pic.png" class="img-circle img-responsive"> </div>
                    <form method="post" id="change_pw_form">
                        {{#if msg_err}}
                            <div class="alert alert-danger">{{msg_err}}</div>
                        {{/if}}

                        {{#if msg_success}}
                            <div class="alert alert-success">{{msg_success}}</div>
                        {{/if}}


                        <div class=" col-md-9 col-lg-9 ">
                            <table class="table table-user-information">
                                <tbody>
                                <tr>
                                    <td>Current Password</td>
                                    <td><input style="height: 30px;" type="password" name="cur_pass" required /></td>
                                </tr>
                                <tr>
                                    <td>New Password</td>
                                    <td><input style="height: 30px;" type="password" name="new_pass" pattern=".{4,}" title="Minimum 4 Charactor" required /></td>
                                </tr>

                                <tr>
                                    <td>Confirm Password</td>
                                    <td><input style="height: 30px;" type="password" name="confirm_pass" pattern=".{4,}" title="Minimum 4 Charactor" required /></td>
                                </tr>
                                </tbody>
                            </table>

                            <center>
                                <a href="/user_profile" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i>  Go Back</a>
                                <a href="#" onclick="document.getElementById('change_pw_form').submit();" class="btn btn-primary">Change It!</a>
                            </center>
                        </div>
                    </form>
                </div>
            </div>
            <div class="panel-footer">
                    <span class="pull-right">
                    </span>
            </div>

        </div>
    </div>
</div>
<script>
    startTime();
    function startTime() {
        var today=new Date();
        var h=today.getHours();
        var m=today.getMinutes();
        var s=today.getSeconds();
        m = checkTime(m);
        s = checkTime(s);
        document.getElementById('timeing').innerHTML = h+":"+m+":"+s;
        var t = setTimeout(function(){startTime()},500);
    }

    function checkTime(i) {
        if (i<10) {i = "0" + i};  // add zero in front of numbers < 10
        return i;
    }
</script>
