<div id="profile-tab" class="tab-pane active">
    <div class="pd-20">
        <h3 class="mgbt-xs-15 mgtp-10 font-semibold"><i class="glyphicon glyphicon-user"></i> ABOUT</h3>
        <div class="row">
            <div class="col-sm-6">
                <div class="row mgbt-xs-0">
                    <label class="col-xs-5 control-label">First Name:</label>
                    <div class="col-xs-7 controls">Mariah</div>
                    <!-- col-sm-10 -->
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row mgbt-xs-0">
                    <label class="col-xs-5 control-label">Last Name:</label>
                    <div class="col-xs-7 controls">Caraiban</div>
                    <!-- col-sm-10 -->
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row mgbt-xs-0">
                    <label class="col-xs-5 control-label">User Name:</label>
                    <div class="col-xs-7 controls">Mariah</div>
                    <!-- col-sm-10 -->
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row mgbt-xs-0">
                    <label class="col-xs-5 control-label">Email:</label>
                    <div class="col-xs-7 controls">mariah@Vendroid.com</div>
                    <!-- col-sm-10 -->
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row mgbt-xs-0">
                    <label class="col-xs-5 control-label">City:</label>
                    <div class="col-xs-7 controls">Los Angeles</div>
                    <!-- col-sm-10 -->
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row mgbt-xs-0">
                    <label class="col-xs-5 control-label">Country:</label>
                    <div class="col-xs-7 controls">United States</div>
                    <!-- col-sm-10 -->
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row mgbt-xs-0">
                    <label class="col-xs-5 control-label">Birthday:</label>
                    <div class="col-xs-7 controls">Jan 22, 1984</div>
                    <!-- col-sm-10 -->
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row mgbt-xs-0">
                    <label class="col-xs-5 control-label">Interests:</label>
                    <div class="col-xs-7 controls">Basketball, Web, Design, etc.</div>
                    <!-- col-sm-10 -->
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row mgbt-xs-0">
                    <label class="col-xs-5 control-label">Website:</label>
                    <div class="col-xs-7 controls"><a href="http://Vendroid.venmond.com">Vendroid.venmond.com</a></div>
                    <!-- col-sm-10 -->
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row mgbt-xs-0">
                    <label class="col-xs-5 control-label">Phone:</label>
                    <div class="col-xs-7 controls">+1-234-5678</div>
                    <!-- col-sm-10 -->
                </div>
            </div>
        </div>
